body {
    background-color: red;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate {
    animation: rotate 10s infinite;
    animation-timing-function: linear;
}

.pomodoro {
    width: 30em;
    height: 30em;
    border-right: 4px solid white;
    border-radius: 100%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}